/Ejercicio01Test.class
/Ejercicio02Test.class
/Ejercicio03Test.class
/Ejercicio04Test.class
/Ejercicio05Test.class
/Ejercicio06Test.class
/Ejercicio07Test.class
/Ejercicio08Test.class
/Ejercicio09Test.class
/Ejercicio10Test.class
/Ejercicio11Test.class
/Ejercicio12Test.class
